.postUserImg {
    height: 3em;
}

.userImg{
    max-height: 100px;
}

.userImgPostHeader{
    max-height: 60px;
}

.logoNavBar{
    margin-left: 1%;
}

.logoImg{
    height: 60px;
}

.logoBig{
    height: 100px;
}

.svg-md{
    width: 100%; 
    max-width: 1rem;
    height: auto;
}

.svg-lg{
    width: 100%; 
    max-width: 1.7rem;
    height: auto;
}

.svg-navbar{
    width: 100%; 
    max-width: 1.2rem;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

.selectedComment{
    background-color: rgba(73, 153, 233, 0.3);
}

.activeNavbar{
    color: #4999e9 !important;
}